<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Info</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            table {
              border-collapse: collapse;
              width: 80%;
            }
            
            th, td {
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #D6EEEE;
            }
            </style>
    </head>
    <body>
        <h3>Student Form</h3>

    <form method="post" novalidation>
        {% csrf_token %}
        {{student_form}}
        <button type="submit" >ADD</button>
    </form>
    
    <h3>Student Details</h3>
    
    <table style="border: 1px solid;border-color: #96D4D4;;background-color: #96D4D4;">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Standard</th>
        </tr>
        {% for student in students%}
        <tr>
            <td>{{student.first_name}} {{ student.second_name}}</td>
            <td>{{student.roll_no}}</td>
            <td>{{student.standard}}</td>
            <td><a href="{% url "delete_data" student.id %}">Delete</a></td>
            <td><a href="{% url "update_data" student.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <script src="" async defer></script>
    </body>
</html>